@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #aaaaaa;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-rectangle {
  width: 200px;
  height: 100px;
  background-color: #0a1d2a;
  animation: wave 2s ease-in-out infinite;
}


.toolbar button {
  border: none;
  padding: 6px;
  transition: 0.2s ease-in-out;
  color: #ededed;
}

.toolbar button:hover {
  background-color: #223ce5b0;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.toolbar button:disabled {
  opacity: 0.5;
  color: #aaaaaa;
}

.isSelected {
  background-color: #223ce5;
  border-radius: 5px;
}

.isSelectedSecondary {
  background-color: #424242;
  border-radius: 5px;
}

.toolbar-separator {
  width: 1px; /* Thin vertical line */
  height: 34px; /* Adjust height as needed */
  background-color: #aaaaaa; /* Light gray */
  margin: 0 10px; /* Space around separator */
}


.shape-toolbar {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 50%;
  width: 220px;
  background-color: rgba(48, 48, 48, 0.95);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.679);
  border-radius: 8px;
  padding: 2px;
  z-index: 1000;
}


.tabs-container {
  position: absolute;
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  background: rgba(48, 48, 48, 0.95);
  padding: 2px;
  border-radius: 10px;
}
.tabs-header {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaaaaa;
}
.tab-content {
  padding: 5px;
  font-size: 18px;
  color: #ededed;
  background: rgba(48, 48, 48, 0.95);
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.tab-content div:hover {
  background-color: rgb(83, 83, 83);
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.settings-toolbar {
  padding: 12px;
}

.toolbar-item {
  padding-bottom: 6px;
}

.toolbar-title {
  color: #ededed;
  font-weight: normal;
}

.toolbar-setting {
  display: flex;
  justify-content: space-around;
}