@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #aaaaaa;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.wave-rectangle {
  width: 200px;
  height: 100px;
  background-color: #0a1d2a;
  animation: wave 2s ease-in-out infinite;
}


.toolbar button {
  border: none;
  padding: 6px;
  transition: 0.2s ease-in-out;
  color: #ededed;
}

.toolbar button:hover {
  background-color: #4f63e0;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.toolbar button:disabled {
  opacity: 0.5;
  color: #aaaaaa;
}

.isSelected {
  background-color: #223ce5;
  border-radius: 5px;
}

.toolbar-separator {
  width: 1px; /* Thin vertical line */
  height: 34px; /* Adjust height as needed */
  background-color: #aaaaaa; /* Light gray */
  margin: 0 10px; /* Space around separator */
}